@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    background-image: linear-gradient(315deg, #f2f2f2 0%, #d5d5d5 74%);
}

.card-container {
    width: 350px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
}

.card-image {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
    display: inline-block;
}

.button {
    background-color: #54cde8;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #45a049;
    color: white;
}
